@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");




.profile-picture {
    height: 40vh;
    width: 40vh;
    max-width: 40vh;
    min-width: 40vh;
    background-image: url("./resources/profile8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5vh;
}

.profile-entry {
    font-size: 10vh;
    color: #2fadfe;
    font-family: "Dosis";
    letter-spacing: .4rem;

}

.profile-details {

    font-size: 3vh;
    color: greenyellow;
    font-family: "Dosis";
    font-weight: bold;
    letter-spacing: .4rem;

}

.line-options {
    width: 75%;
    border-width: 2px;
    border-color: white;
}

/* Landing page animations */
.delayed-8 {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.delayed-6 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.about-me-text {
    font-family: "Dosis";
    font-weight: bold;
    color: greenyellow;
    /* text-shadow: .1rem .2rem .3rem gray;*/

}

.info-text {
    font-family: "Roboto";
    letter-spacing: .1rem;
    font-size: 2.5vh;
    color: white
}

#profile {
    background-image: url("./resources/isaac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}