.brand {
    height: 3rem;
}

.navbar {
    padding: .7rem 1rem;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
}

.custom-toggler-icon {
    color: white;
    font-size: 1.6rem;
}

.navbar-nav li {
    padding-right: .8rem;
}

.navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}


.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: greenyellow;
}

.navbar.solid {
    background: rgba(0, 0, 0, 0.7) !important;
    transition: background-color 1s ease 0s;
}